/*colors
	#FBDBAE cream pink
	#E3AB2E golden yellow
	#152637 darkslategray (blue)
	#A5C4E3 light blue
*/

* {
	box-sizing: border-box;
}

body, html {
	background-color: #152637;
	height:100%;
	font-size: 1.2em;
	font-family: 'Asap', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Copse', serif;
	font-weight: bold;
	
}

.container {
	height:100%;
	padding:15px;

}

.container-theme {
	padding:20px;
	background-color: #FBDBAE;
	border-radius: 4px;
	border: 0.2px solid #e3ab2e;
	height: 100%;
	width: 100%;
}


.game-name, 
.stats,
.qa-container {
	padding: 8px;
	display: inline-block;
}

.game-name {
	width:25%;
	height:40%;
	min-height:240px;
	float:left;

}

.stats {
	width:25%;
	height: 60%;
	min-height:360px;
	float:left;
	font-size: .7em;
}

#timer-border {
	width:100%;
	height:20px;
	border: 2px solid #152637;
	border-radius:4px;
	position:relative;
}

#inner-timer {
	width:100%;
	height:20px;
	border: 2px solid #152637;
	border-radius:4px;
	background-color: #152637;
	position:absolute;
	top:-2px;
}

.qa-container{
	width:75%;
	height:100%;
	min-height:600px;
	float:right;
	display: inline-block;
}

.questions-container {
	height:25%;
	position:relative;
	width:100%;
}

#q-header, #question {
	cursor:pointer;
	width: 100%;
}

#question {
	padding-bottom: 20px;
	border-bottom: 1px solid #152637;
}

.bottom {
	position:absolute;
	bottom:0px;
	width: 100%;
}


.answers-container {
	height: 75%;
	width:100%;
	position:relative
}

#answers {
	padding-top: 20px;
}

#displayAnswer {
	width: 100%;
	display: none;
}

#fact-container {
	width:100%;
}

input[type=radio] {
	margin: 0px 15px;
	width:1.2em;
}

#correct-img {
	margin:20px 15px 15px 0px;
	width:25%;
	float:left;
}

.btn {
	color:white;
	background-color: #152637;
	padding:8px;
	font-size:1.2em;
}

.btn:focus, .btn:hover {
	opacity:.9;
	color:white;
}

#next-question, #end {
	position:absolute;
	bottom:0px;
	right:0px;
	clear:both;
}

@media screen and (max-width: 798px) {
	.game-name, 
	.stats,
	.qa-container {
		width:100%;
		height:auto;
		min-height: auto;
	}
	.game-name {
		height:auto;
		min-height: auto;
	}
}
